.sideBarContent{
    background-color: #e5eaed;
    height: 100%;
    max-height:  calc(100vh - 55px); ;
    width: 400px;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}


.sideBarContentGone{
    visibility: hidden;
}