.app {
    text-align: center;
    height: 100vh;
}

.mainContent {
    display: flex;
    flex-direction: row;
    height: 92%;
}

.graphRegion {
    margin: 5px;
    height: 100%;
    flex-grow:10;
    border-style: solid;
    border-color: #000000;
}

.transactionRegion {
    margin: 5px;
    height: 100%;
    flex-grow: 1;
    border-style: solid;
    border-color: blue;
}

.transactionInput {

    width: 650px
}
