.accountNodeContent {
    text-align: center;
    padding: 15px;
    border-width: thin;
    border-style: solid;
    border-radius: 15px;
    border-color: #000000;
}

.accountNodeContentSelected {
    text-align: center;
    padding: 15px;
    border-width: thin;
    border-style: solid;
    border-radius: 15px;
    border-color: red;
}

.accountNodeName {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px!important;
    margin-left: 10px!important;
    width: 100%;
}
.accountNodeHeader {
    display: flex;
    flex-direction: row;
}

